body {
  box-sizing: border-box;
  background-color: whitesmoke;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  max-width: 1000px; /* Örnek bir maksimum genişlik */
  position: relative;
}

.profile img {
  width: 300px;
  border-radius: 200px;
  padding: 10px;
}

.info {
  padding: 20px;
  text-align: center; /* İçeriği ortalamak için */
}

.contact {
  margin-top: 30px; /* İletişim formunu hizalamak için */
  display: flex;
  flex-direction: column; /* İletişim formunu dikey olarak düzenlemek için */
  align-items: center; /* İletişim formunu yatayda ortalamak için */
}

#message {
  width: 500px;
  padding: 10px; /* Örnek bir değer */
}

.links {
  margin-top: 30px; /* Bağlantıları hizalamak için */
}

.links ul {
  display: flex;
  list-style-type: none;
  margin-right: 50px;
}

.links li {
  padding: 0 10px; /* Bağlantılar arası boşluk */
}

.links a {
  text-decoration: none;
  /* color: black; */
}
.get-cv {
  position: absolute;
  top: 20px;
  right: 20px;
}

.get-cv .btn {
  padding: 10px 20px;
  background-color: whitesmoke; /* Örnek bir renk */
  color: grey;
  text-decoration: none;
  border:none;
  transition: all 0.1ms;
}

.get-cv .btn:hover {
  border-radius: 5px;
}
.get-cv .btn::before {
  border-radius: 5px;
  background-color: green;
}
