body{
  box-sizing: border-box;
}
.container{
  display: flex;
  margin-top: 200px; 
  width: 100% ; 
  position: relative;
}
.info{
  padding: 20px;
}
.profile{
  position: absolute;
}
.info{
  position: absolute;
  left: 30%;
  
}
.profile img{
  width: 300px;
  border-radius: 200px;
  padding: 10px;

}
.contact{
  position: absolute;
  left:30%;
  top:70%;
  display:flex;
}
#message{
  width: 500px;
  padding:60px;
}
