 
{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% get_media_prefix %}image/img/favicon.png" type="image/png">
        <title>{{ site_title }}</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

        <!-- main css -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    </head>
    <body>	       
		<div class="container">
			<div class="profile">
				<img src="{{ profile.url }}" alt="profile">
			</div>
			<div class="info">
				<h2>{{ site_title }}</h2>
				<p>{{ home_banner }}</p>
				<p>{{ text }}</p>
			</div>
			
		</div>
		<div class="contact">
			<form class="row contact_form" method="post" id="contactForm" novalidate="novalidate">
				<div class="col-md-6">
					<div class="form-group">
						<input type="email" class="form-control" id="email" name="email" placeholder="Enter email address">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<textarea class="form-control" name="message" id="message" rows="1" placeholder="Enter Message"></textarea>
					</div>
				</div>
				<div class="col-md-12 text-right">
					<button type="submit" value="submit" class="btn submit_btn">Send Message</button>
				</div>
			</form>
		</div>

        <!--================End Home Banner Area =================-->    
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    </body>
</html>